USE [QLNguoiDung]
GO
/****** Object:  Table [dbo].[DangKyCV]    Script Date: 10/28/2021 3:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyCV](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TuNgay] [date] NULL,
	[DenNgay] [date] NULL,
	[TuGio] [time](7) NULL,
	[DenGio] [time](7) NULL,
	[NguoiDk] [nvarchar](50) NULL,
	[LyDoLamThem] [nvarchar](50) NULL,
 CONSTRAINT [PK_DangKyCV] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 10/28/2021 3:40:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [char](20) NOT NULL,
	[KeyDN] [char](20) NULL,
	[MatKhau] [char](20) NOT NULL,
	[Email] [char](20) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
